/*==============================Image================================*/
  
  DECLARE @count INT = 61
  DECLARE @i INT = 1
  DECLARE @id INT = 301

WHILE(@count <= 80)
BEGIN
SET @i=1;
WHILE(@i<=5)

BEGIN

UPDATE dbo.image 
  SET image_name ='Measurements/'+CAST(@count AS NVARCHAR(200))+'_'+CAST(@i AS NVARCHAR(200))+'.jpg' WHERE id=@id
UPDATE dbo.image
	SET product_id=@count
  WHERE id=@id
  SET @i = @i + 1;
  SET @id = @id + 1;
END
SET @count = @count + 1;
END




/*insert image*/
GO


  DECLARE @id INT = 151
  DECLARE @i INT = 1

WHILE(@id <= 190)
BEGIN
SET @i=1;
WHILE(@i<=5)

BEGIN

INSERT INTO dbo.image
        ( product_id, image_name, status )
VALUES  (@id,'Home&Garden/'+CAST((@id+50) AS NVARCHAR(200))+'_'+CAST(@i AS NVARCHAR(200))+'.jpg',1)

SET @i =@i+1;
END
SET @id = @id + 1;
END

/*=================================end===============================================*/




/*=====================================Product===================================*/

/*update code of product*/

DECLARE @i INT = 151

WHILE(@i <= 190)

BEGIN

UPDATE dbo.product 
  SET code ='HW-'+CAST(@i AS NVARCHAR(200)) WHERE id=@i;
	SET @i =@i+1;
END



/*update status*/

DECLARE @i INT = 151

DECLARE @a int;
WHILE(@i <= 190)

BEGIN
SET @a = (SELECT 1+(CAST(CEILING(RAND()*10) AS INT)%3) result);

UPDATE dbo.product 
  SET status =@a WHERE id=@i;
	SET @i =@i+1;
END




/*update image of product*/

DECLARE @i INT = 151

WHILE(@i <= 190)

BEGIN

  UPDATE dbo.product 
  SET image ='Home&Garden/'+CAST((@i+50) AS NVARCHAR(200))+'_'+CAST(0 AS NVARCHAR(200))+'.jpg' WHERE id=@i;
	SET @i =@i+1;
END


/*update money of product*/

DECLARE @i INT = 151

WHILE(@i <= 190)

BEGIN
DECLARE @a float;
SET @a = (SELECT ROUND((RAND()*10+RAND()*10+RAND()*10+RAND()*10),2) result);
PRINT @a

UPDATE dbo.product 
  SET price =ROUND(@a,2) WHERE id=@i;
	SET @i =@i+1;
END


/*Random Sale*/

DECLARE @id INT = 1


DECLARE @sale FLOAT
WHILE(@id<=190)
BEGIN

DECLARE @status int = (SELECT status FROM dbo.product WHERE id =@id)
IF(@status =2)
BEGIN
UPDATE [dbo].[product]
   SET [sale] = (SELECT ROUND((0.001+RAND()/5),2))
 WHERE id=@id
END
SET @id = @id +1
END


/*Inssert Product*/
GO

/*========================================End================================================*/





/*=============================Lấy dữ liệu để vẽ đồ thị===========================================*/
SELECT DAY(create_date) AS [day],DATENAME(dw,create_date) AS [weekday],COUNT(create_date)AS numOfOrder,SUM(total_price) AS totalMoney FROM dbo.[order] WHERE Day(GETDATE())-Day(create_date)<7 GROUP BY create_date,DAY(create_date)

/*==========================================End================================================*/


SELECT COUNT(*) FROM dbo.product GROUP BY category_id ORDER BY category_id ASC

/*===================================================================*/

SELECT ISNULL(SUM(total_price),'0')AS total FROM dbo.[order] WHERE YEAR(create_date)=YEAR(GETDATE()) and MONTH(create_date)=11

SELECT * FROM
(SELECT *,ROW_NUMBER() OVER (ORDER BY ID ASC) as row_num 
FROM dbo.product WHERE name LIKE '%a%' OR description like '%a%') AS product 
WHERE row_num >= (2 - 1)*10 +1 AND row_num<= 2 * 10

SELECT COUNT(*) FROM dbo.product WHERE name LIKE '%a%' OR description LIKE '%a%'


/*=======================================End===================================*/